<div class="container" id="profile-container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <h3>ACCOUNT INFO</h3>
                <hr>
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#" role="tab"
                    aria-controls="v-pills-home" aria-selected="true"> Account Info</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/myComics" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Favorites</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/socialmap" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">Social</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="/librariesmap" role="tab"
                    aria-controls="v-pills-settings" aria-selected="false">Libraries near me</a>
            </div>
        </div>
        <div class="col-9">
            <h3>USERNAME & EMAIL</h3>
            <hr>
            <div>
                <img id="picture-profile" src="{{user.photoURL}}" alt="my picture" height="42" width="42">
                <dl>
                    <dt>USERNAME:</dt>
                    <dd>{{user.username}}</dd>
                    <dt>E-MAIL ADDRESS:</dt>
                    <dd>{{user.email}}</dd>
                    <dt>ADDRESS:</dt>
                    <dd>{{user.address}}</dd>
                </dl>
                <a href="/profile/update" class="button2" role="button" aria-pressed="true">UPDATE ACCOUNT</a>
            </div>
            <hr>


            <h3>PREFERENCES</h3>
            <hr>
            <div>
                <dl>
                    <dt>MY FAVORITES:</dt>
                    <dd> <strong> Characters: </strong> {{user.character_favorites}}</dd>
                    <dd> <strong>Comics: </strong> {{user.comics_favorites}}</dd>
                    <dd> <strong>Series: </strong> {{user.series_favorites}}</dd>
                </dl>
                <a href="/myComics" class="button2" role="button" aria-pressed="true">UPDATE MY FAVORITES</a>
            </div>
        </div>
    </div>
</div>





<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pending Email Validation!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please check your inbox for confimation email Click the link in the email to verify your account</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../../javascripts/api.js"></script>
<script type="text/javascript" src="../../javascripts/statusValidation.js"></script>