<div class="row justify-content-center">
    <div class="col-md-6">

        <h2>YOUR ACCOUNT</h2>

        <form action="/profile/update" method="POST" enctype="multipart/form-data">
        <img src="{{user.photoURL}}" alt="my picture" height="42" width="42">
            <div class="form-group">
                <input type="file" name="photo">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">User Name</label>
                <input name="username" value="{{username}}" type="text" class="form-control" id="field1" placeholder="User Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email  Address</label>
                <input name="email" value="{{email}}" type="text" class="form-control" id="field2" placeholder="Email Address">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="address" value="{{address}}"type="text" class="form-control" id="field3" placeholder="Address">
            </div>

            <button type="submit" class="btn btn-outline-danger">DONE</button>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>
    </div>
</div>