<figure class="headerimg">
    <h1>Character Info</h1>
</figure>
<div class="details-screen">
    {{#each character}}
    <div class="row">
        <div class="col-2 info">
            <img id="char" class="card-img" src="{{thumbnail.path}}.jpg">
        </div>
        <div class="col-10">
            <article class="card">
                <div class="card-body">
                    <h3 class="card-title"><strong>Name:</strong> {{name}}</h3>
                    <p class="description"><strong>Description:</strong> {{description}}</p>
                </div>
            </article>
        </div>
    </div>
    {{/each}}
    <div class="container">
        <h3>Comics</h3>
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#each comics}}
                    <li class="glide__slide">
                        <img src="{{thumbnail.path}}.jpg">
                        {{title}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Events</h3>
        <div class="glide2">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#each events}}
                    <li class="glide__slide">
                        <img src="{{thumbnail.path}}.jpg">
                        {{title}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Stories</h3>
        <div class="glide3">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {{#each series}}
                    <li class="glide__slide">
                        <img src="{{thumbnail.path}}.jpg">
                        {{title}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    const config = {
        type: 'carousel',
        focusAt: 'center',
        perView: 3,
        gap: 20
    }
    new Glide('.glide', config).mount()
    new Glide('.glide2', config).mount()
    new Glide('.glide3', config).mount()
</script>